.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(97, 97, 97);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 40%;
  font-size: 18px;
  font-weight: 400;
}

.image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.calories {
  font-family: "Anton", sans-serif;
  font-size: 25px;
  color: brown;
}
